@import "util.css" ;
:root {
  --black: black;
}
.Parent {
    position: relative;
    max-width: 1440px;
    margin: auto;
}
.Heading-One {
  width: 133px;
  height: 24px;
  margin-top: 50px;
  color: var(--black);
}
.content {
  width: 817px;
  height: 75px;
  margin-top: 15px;
  margin-bottom: 20px;
  color: var(--black);
  text-align: center;
}
.Heading-Two {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 139px;
  height: 24px;

  color: var(--black);
}

.Rectangle_box {
  width: 200px;
  height: 200px;
}
.Box_container {
  display: flex ;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1000px;
  margin:auto;
  margin-top: 40px;
  
}
.Heading-Three {
  width: 157px;
  height: 24px;
  margin-top: 50px;
  margin-bottom: 56px;
  color: var(--black);
}

.Rectangle_text_box_property {
  margin: 24px 31px 24px 31px;
  width: 338px;
  height: 75px;
  color: var(--black);
  text-align: center;
}
.Rectangle_text_box {
  width: 400px;
  height: 130px;
  margin-top: 40px;
  border: solid 5px #1fa7f4;
  background-color: #ffffff;
  box-sizing: border-box;
}
.Text_box_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  align-content: space-around;
  justify-content: space-evenly;
  max-width: 1360px;
}
.Ellipse {
  width: 106px;
  height: 98px;
  background-color: #1fa7f4;
  border-radius: 50%;
  display: flex;
 
}
.C {
  width: 67px;
  height: 34px;
  font-size: 50px;
  line-height: 0.5;
  color: var(--black);
  text-align: center;
  margin: auto;
}
.logo {
  position: absolute;
  margin-top: 40px;
  left: auto;
  right: 5%;
  max-width: 1300px;
}