

.fontfam_inter {
  font-family: Inter;
}
.font_size {
  font-size: larger;
}
.font_bold {
  font-weight: bold;
}
.line_normal {
  line-height: normal;
}
.color_blue {
  background-color: #319cea;
}
.color_green {
  background-color: #3ed319;
}
.color_purple {
  background-color: #ba31ea;
}
.color_white {
  background-color: #ffffff;
}
.border_blue {
  border: solid 5px #1fa7f4;
}
.border_box {
  box-sizing: border-box;
}
.border_purple {
  border: solid 5px #ba31ea;
}
.border_green {
  border: solid 5px #3ed319;
}
.weight_normal {
  font-weight: normal;
}
.stretch_normal {
  font-stretch: normal;
}
.style_normal {
  font-style: normal;
}

.line_hight_normal {
  line-height: normal;
}
.line_hight_1-25 {
  line-height: 1.25;
}
.font_size-20 {
  font-size: 20px;
}
.letter_space-06 {
  letter-spacing: 0.6px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.center_image {
  margin: auto;
  display: block;
}
.margin_top{
  
  margin-top: 40px;
}