@import url("util.css");
body {
  background-color: #f6f6f6;
}
.text_boxes{
  width: 344px;
  height: 35px;
  border-radius: 5px;
  opacity: 0.5;
  margin-top: 10px;
  border: solid 1px #000000;
}
.box_details {
  border-radius: 10px;
  margin-left: 2%;
  margin-right: 2%;
  padding: 2em;
}
label:hover {
  cursor: pointer;
}
::placeholder {
  padding-left: 10px;
}
input:focus{
  opacity: 1;
  transition: 0.7s;
}
.pers_col {
  flex: 0 0 35%;
}
.pers_col input {
  display: block;
  margin-bottom: 10px;
}
.acad_det label {
  position: absolute;
  margin-top: 22px;
}
.acad_det input {
  margin-left: 151px;
}
.other_col{
  width: 50%;
}
.other_col label {
  flex: 1;
  margin-top: 1.3em;
  margin-left: 15px;
}
.other_col input {
  flex: 2;
}

/*Buttons*/
button {
  width: 216px;
  height: 50px;
  margin: 0 15px;
  border-radius: 5px;
  background-color: #319cea;
  border: none;
}
.btn_text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.6px;
  color: #ffffff;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 1.5%;
}
button:hover {
  background-color: #f0f4f7;
  color: #319cea;
  border: 2px solid #319cea;
  transition: 0.5s;
  cursor: pointer;
}
