.flex {
  display: flex;
  max-width: 1300px;
}
.required:after {
  content: "*";
  color: red;
}
.label_styles {
  font-family: Inter;
  font-size: 15px;
  letter-spacing: 0.6px;
}
.topic_label_style {
  font-family: PlayfairDisplay;
  font-size: 20px;
  letter-spacing: 0.6px;
}
.bg_white {
  background-color: white;
}
.marg_top_50 {
  margin-top: 50px;
}
.marg_bot_20 {
  margin-bottom: 20px;
}
.marg_left_15 {
  margin-left: 15px;
}
.marg_top_16 {
  margin-top: 16px;
}
